<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-lifecycle-app-events" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>CordovaPluginLifeycleAppEvents</name>
	<description>Cordova Plugin for Lifecycle of Application's Events, including Terminate and Destroy</description>
	<license>MIT</license>
	<keywords>cordova,events,terminate,destroy,exit,lifecycle</keywords>
	<repo>https://github.com/developer-psucoop/cordova-plugin-lifecycle-app-events.git</repo>
	<issue>https://github.com/developer-psucoop/cordova-plugin-lifecycle-app-events/issues</issue>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="CordovaPluginLifecycleAppEvents" >
				<param name="android-package" value="com.psucoop.lifecycle.CordovaPluginLifecycleAppEvents"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/CordovaPluginLifecycleAppEvents.java" target-dir="src/com/psucoop/lifecycle" />
	</platform>

	<!-- iOS -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="CordovaPluginLifecycleAppEvents">
				<param name="ios-package" value="CordovaPluginLifecycleAppEvents" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<header-file src="src/ios/CordovaPluginLifecycleAppEvents.h" />
		<source-file src="src/ios/CordovaPluginLifecycleAppEvents.m" />
	</platform>

</plugin>
